.tablaplaning{
    border:2px solid; 
    border-color: DBDBDB;
    width:100px;
    max-width:100px; 
    overflow:hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    text-align: center;
    font-size: 1.4vh;
    padding: 0;
}

.tablaplaningedit{
  border:2px solid; 
  border-color: DBDBDB;
  width:100px;
  max-width:100px; 
  overflow:hidden; 
  text-overflow: ellipsis; 
  text-align: center;
  font-size: 1.4vh;
  padding: 0;
}

/* Sistema de notificaciones */
.notification-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    z-index: 9999;
  }
  
  .notification {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column; 
    opacity: 0;
    animation: fade-in 0.3s ease-in-out forwards;
    overflow: hidden; 
  }
  
  .notification-title {
    font-weight: bold;
  }
  
  /* Estilos para colores de Bootstrap */
  .alert-warning {
    background-color: #ffc107;
  }
  
  .alert-danger {
    background-color: #dc3545;
  }
  
  .alert-success {
    background-color: #28a745;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
  /* Fin de sistema de notificacion */
  
/* Visor de almacén */

.visordealmacen .table td{
  padding:0px;
}

/* Fin Visor de almacén */




